:root {
  /* --backgroundURL: url("../img/black.jpg"); */
  --glassmorphismBG: rgba(240, 240, 240, 0.05);
}
body {
  /* background-image: var(--backgroundURL); */
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: rgb(187, 182, 182);
  transition-duration: 0.4s;
  border-top: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
    -webkit-backdrop-filter: blur(22px) saturate(180%);
  background: var(--glassmorphismBG);
  backdrop-filter: blur(10px);

}
@font-face {
  font-family: fabrica;
  src: url(../fonts/fabrica-font/Fabrica-ZOjx.otf) format("woff2");
}
@font-face {
  font-family: gravity;
  src: url(../fonts/gravity-font/GravityLight-66Ro.otf) format("woff2");
}
@font-face {
  font-family: nunito;
  src: url(../fonts/nunito-font/NunitoExtralight-YzEeq.ttf);
}
@font-face {
  font-family: royal;
  src: url(../fonts/royal-crescent-font/RoyalCrescent-G8BP.ttf);
}
@font-face {
  font-family: segoe;
  src: url(../fonts/Segoe-fonts/SegMDL2.ttf);
}
@font-face {
  font-family: aovel;
  src: url(../fonts/aovel-sans/AovelSansRounded-rdDL.ttf);
}
* {
  -webkit-font-smoothing: antialiased;
}
#nav {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  background: #000000;
}

#tabGroup {
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.tab {
  margin-top: 10px;
  height: 35px;
  width: 50px;
  background-color: rgba(44, 44, 44, 0.39);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: default;
  transition-duration: 0.2s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.tab:hover {
  background-color: rgba(87, 87, 87, 0.39);
}
@keyframes openTab {
  from {
    border-radius: 20px;
  }
  to {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: 150px;
  }
}
@keyframes closeTab {
  from {
    width: 150px;
  }
  to {
    width: 0px;
  }
}

.tab.active {
  background-color: #252525;
}

.favicon {
  height: 12px;
  width: auto;
}
.tabName {
  font-size: 12px;
  font-family: fabrica;
  font-weight: 1000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}
.close {
  margin-left: auto;
  font-family: segoe;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}
.close:hover {
  opacity: 1;
}
#plusdiv {
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 100px;
  margin-top: 15px;
  transition-duration: 0.2s;
}
.plus {
  font-weight: 400;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  cursor: pointer;
}
#plusdiv:hover {
  transform: rotate(90deg);
}

.divider {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 15px;
  cursor: default;
}
.toolbar {
  background: #252525;
  top: 0;
  height: 70px;
  max-width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: rgb(32, 32, 32);

  border: 1px solid #666666;
  border-radius: 16px;
  padding: 0 10px;
  height: 33px;
  transition-duration: 0.2s;
  flex-grow: 1;
}

.search-container:hover {
  background: #3a3a3a;
}

.search-container i {
  margin-right: 8px;
}
.search {
  background: transparent;
  border: none;
  color: #fff;
  font-family: fabrica;
  outline: none;
  height: 100%;
  width: 100%;
}
.fa-magnifying-glass {
  font-size: 14px !important;
}
.fa-solid {
  font-size: 18px;
  margin: 0px;
  transition-duration: 0.3s;
  z-index: 1000;
}
.fa-solid:hover {
  color: white;
}
.frame {
  height: 100%;
  border: 0px;
  display: none;
}
.toolbarBtn {
  cursor: pointer;
}
/* Dropdown menu */
.menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  z-index: 100;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 0 10px #000;
  max-height: 0;
  overflow-x: hidden;
  opacity: 0;
  transform: scaleY(0.8);
  transform-origin: top;
  transition: all 0.3s ease;
  z-index: -1;
}
.menu.show {
  z-index: 100;
  display: flex;
  max-height: 300px;
  opacity: 1;
  transform: scaleY(1);
}
.menuItem {
  position: relative;
  color: #ccc;
  font-family: fabrica;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.menuItem:hover {
  background-color: #444;
}
.submenu {
  top: 0;
  left: 100%;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px;
  display: none;
  flex-direction: column;
  gap: 6px;
  z-index: 200;
  box-shadow: 0 0 8px #000;
}
.submenu.show {
  display: flex;
}
.submenuItem {
  color: #ccc;
  font-family: fabrica;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}
.submenuItem:hover {
  background-color: #444;
} /* Overlay to catch clicks */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; /* below menu but above iframe */
  display: none;
  background-color: transparent;
  cursor: default;
  
}
#overlay.show {
  display: block;
}
#overlay,
.menuItem,
.menu,
.menu.show,
#plusdiv,
.frame,
.bookmarks,
.bookmarklets,
.notice,
.windowcontrolicon {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px; /* width of vertical scrollbar */
  height: 12px; /* height of horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #505050; /* light gray */
  border-radius: 10px; /* rounded corners */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #a5a5a5; /* dark gray */
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #696969; /* darker gray */
}

.bookmarks {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #3f3f3f;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
  background-color: #2b2b2ba4;
}
.bookmarklets {
  align-items: center;
  padding: 5px;
  transition-duration: 0.3s;
  font-size: 12px;
  font-family: fabrica;
  font-weight: 1000;
  max-width: 125px;
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookmarklets:hover {
  border-radius: 5px;
  background-color: #333333b2;
}
.notice {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 6px 14px;
  font-family: fabrica;
  font-size: 13px;
  background: #8ffa74;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 2px 6px #00000060;
  cursor: pointer;
}
@keyframes noticeShow {
  from {
    right: -120px;
  }
  to {
    right: 0px;
  }
}
@keyframes noticeHide {
  from {
    right: -0px;
  }
  to {
    right: -120px;
  }
}