body {
  /* background-image: var(--backgroundURL); */
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: rgb(187, 182, 182);
  transition-duration: 0.4s;
  border-top: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(22px) saturate(180%);
  background: var(--glassmorphismBG);
  backdrop-filter: blur(10px);
}
#nav {
  top: 0;
  width: 100%;
  display: flex;
  height: 50px;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  background: #000000;
}

#tabGroup {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tab {
  margin-left: 5px;
  height: 30px;
  width: 50px;
  background-color: #3535355d;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: default;
  transition-duration: 0.2s;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
}
.tab:hover {
  background-color: #6968685d;
}
@keyframes openTab {
  from {
    border-radius: 20px;
  }
  to {
    border-radius: 0px;
    border-radius: 10px;

    width: 150px;
  }
}
@keyframes closeTab {
  from {
    width: 150px;
  }
  to {
    width: 0px;
  }
}

.tab.active {
  background-color: #7e7d7d5d;
  border: 1px solid rgba(255, 255, 255, 0.205);
}

.favicon {
  height: 12px;
  width: auto;
}
.tabName {
  font-size: 12px;
  font-family: fabrica;
  font-weight: 1000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}
.close {
  margin-left: auto;
  font-family: segoe;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}
.close:hover {
  opacity: 1;
  color: rgb(172, 56, 56);
}
#plusdiv {
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 100%;
  transition-duration: 0.2s;
  background-color: rgba(110, 110, 110, 0.411);
}
.plus {
  font-weight: 400;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  cursor: pointer;
  line-height: 30px;
}
#plusdiv:hover {
  transform: rotate(90deg);
}

.divider {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 15px;
  cursor: default;
}
.toolbar {
  background: #252525;
  top: 0;
  height: 60px;
  max-width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-container {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 0px 5px;
  height: 33px;
  transition-duration: 0.2s;
  flex-grow: 1;
  margin: 0px 5px;
  background-color: rgb(24, 24, 24);
  border: 1px solid #ffffff1a;
}

.search-container:hover {
  background-color: #3a3a3a;
}
.search {
  background: transparent;
  border: none;
  color: #fff;
  font-family: fabrica;
  outline: none;
  height: 100%;
  width: 100%;
}
.searchIcons {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  filter: brightness(0.75);
  font-size: 15px;
  margin: 0px;
  transition-duration: 0.3s;
  padding: 5px;
  border-radius: 5px;
}

.navIconSolid:hover {
  filter: brightness(1);
  background-color: #3a3a3a;
}
.frame {
  height: 100%;
  border: 0px;
  display: none;
}
.toolbarBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
}
/* Dropdown menu */
.menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  z-index: 501;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 0 10px #000;
  max-height: 0;
  overflow-x: hidden;
  opacity: 0;
  transform: scaleY(0.8);
  transform-origin: top;
  transition: all 0.3s ease;
  z-index: -1;
  overflow: hidden;
}
.menu.show {
  z-index: 501;
  display: flex;
  max-height: 300px;
  opacity: 1;
  transform: scaleY(1);
}
.menuItem {
  position: relative;
  color: #ccc;
  font-family: fabrica;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.menuItem:hover {
  background-color: #444;
}
.submenu {
  top: 0;
  left: 100%;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px;
  display: none;
  flex-direction: column;
  gap: 6px;
  z-index: 501;
  box-shadow: 0 0 8px #000;
}
.submenu.show {
  display: flex;
}
.submenuItem {
  z-index: 200;
  color: #ccc;
  font-family: fabrica;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}
.submenuItem:hover {
  background-color: #444;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  display: none;
  background-color: transparent;
  cursor: default;
}
#overlay.show {
  display: block;
}
#overlay,
.menuItem,
.menu,
.menu.show,
#plusdiv,
.frame,
.bookmarks,
.bookmarklets,
.notice,
.windowcontrolicon,
.search,
.tab,
.toolbar {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.bookmarks {
  height: 20px;
  width: 100%;
  border-bottom: 2px solid #ffffff1a;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
  background-color: #252525;
  z-index: -1;
}
.bookmarklets {
  align-items: center;
  padding: 5px;
  transition-duration: 0.3s;
  font-size: 12px;
  font-family: fabrica;
  font-weight: 1000;
  max-width: 125px;
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookmarklets:hover {
  border-radius: 5px;
  background-color: #7272725b;
}
.notice {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 6px 14px;
  font-family: fabrica;
  font-size: 13px;
  background: #8ffa74;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 2px 6px #00000060;
  cursor: pointer;
}
@keyframes noticeShow {
  from {
    right: -120px;
  }
  to {
    right: 0px;
  }
}
@keyframes noticeHide {
  from {
    right: -0px;
  }
  to {
    right: -500px;
  }
}

.menuIcons {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  filter: brightness(0.75);
}
  #loader {
    height: 4px;
    background: #222;
  }
  #bar {
    height: 100%;
    width: 0%;
    background: #4caf50;
    transition: width 0.3s;
  }
