body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #b6b6b6;
}

#frame {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100%;
  border: 0;
  margin: 0px;
}

p {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: fabrica;
  z-index: 1000000;
  text-align: center;
}
.container {
  text-align: center;
  position: absolute;
}

.loadingthing {
  z-index: -10;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader {
  height: 5px;
  background: #ffffff;
}
#bar {
  height: 100%;
  width: 0%;
  background: #88fa8c;
  transition: width 0.3s;
}
