body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #334d69;
}

#frame {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100%;
  border: 0;
  margin: 0px;
}

p {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: fabrica;
  z-index: 1000000;
  text-align: center;
}
  .container {
  text-align: center;
  position: absolute
}

.loadingthing {
  z-index: -10;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  z-index: -100;
  width: 40px;
  height: 40px;
  background: #7ba6d6;
  border-radius: 50%;
  margin: 10px;
  animation: animationthingy 0.5s ease infinite alternate;
}

.dot1 {
  animation-delay: 0.1s;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.3s;
}

@keyframes animationthingy {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}


