body{
  background: transparent;
  -webkit-backdrop-filter: blur(22px) saturate(180%);
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  height: 100%;
}
.blur {
    background: var(--glassmorphismBG);
  backdrop-filter: blur(10px);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -100;
}
.card {
}
h1 {
  font-size: 25px;
}
h1, p {
  font-family: nunito;
}
.divider {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.379);
}
h2 {
  font-family: gravity;
}
pre {
  font-size: 13px;
  line-height: 25px;
  font-family: fabrica;
}
.updateInfo {
width: 100%;
}
.dividerSmall {
  width: 40%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.379);

}
